.project {
    width: 100%;
    min-height: 360px;
    display: flex;
    flex-direction: column;
    color: #F5F4F4;
    overflow: hidden;
    position: relative;
}

.project .preview-content {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.project .left {
    width: 60%;
    display: inline-block;
}

.project .button {
    margin-bottom: 20px;
}

.project .iphone {
    margin-top: 80px;
}

.project .iphone img  {
    max-width: 250px;
}

.project .right {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 35%;
    height: 220px;
    overflow: visible;
}

.project h2 {
    margin-top: 20px;
    margin-bottom: 0;
}

.project .preview-content .right img {
    width: 85%;
    max-width: 200px;
    margin: auto;
    display: block;
}

.project .tag {
    margin: 0 auto 10px auto;
    font-size: .90em;
    width: 90%;
}


.project.Untappd {
    background: #F57F17;
}

.project.Hive {
    background: #78909C;
}

.project.Hive .right {
    padding-top: 60px;
}

.project.Hive .right img {
    max-width: 300px;
}

.project.Sous {
    background: #03A9F4;
}

.project.Chef .right img {
    max-width: 300px;
    padding-top: 60px;
}

.project.AR {
    background: #d0a70f;
}

.project.Medi {
    background: #DB4D32;
}

.project.Graffiti {
    background: #1DC7AA;
}

.project.Rendezvous {
    background: #5C6BC0;
}

.project.Miscellaneous {
    background: #4CAF50;
}
