
.button a {
    font-family: Consolas, Monaco, monospace;
    text-decoration: none;
    border: 3px solid #F5F4F4;
    padding: 7px 25px 2px 25px;
    color: #f5f4f4;
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom, transparent 50%, #1F1E1E 50%);
    text-transform: uppercase;
    display: inline-block;
    transition: background-position 0.3s;
}

.button a:hover {
    background-position: 0% 100%;
    cursor: pointer;
}