.Rendezvous .header {
    color: #5C6BC0;
}

.Rendezvous .hero {
    background-image: url(../../../media/rendezvous/rendezvous_mockup.jpg);
}

.Rendezvous .project-section .button a {
    background-image: linear-gradient(to bottom, transparent 50%, #5C6BC0 50%);
}

.Rendezvous .fab-main span i {
    color: #5c6bc0;
}