.Hive {
    background: #78909C;
}

.Hive .header {
    background: url(../../../media/hive/hive-hero.png) center bottom;
}

.Hive .surveys {
    background-color: #90CAF9;
}

.Hive .interviews {
    background-color: #F48FB1;
}

.Hive .observations {
    background-color: #B0BEC5;
}