.home .intro {
    margin: 50px auto 20px  auto;
    width: 90%;
}

.home .vapor {
    position: absolute;
    top: 15px;
    left: 15px;
}

.home .name {
    margin-bottom: 0;
}

.home .byline {
    font-weight: normal;
    margin-top: 15px;
    font-family: Consolas, Monaco, monospace;
    cursor: pointer;
    user-select: none;
    transition: opacity .3s ease-in-out;
}

.home .about {
    font-family: Consolas, Monaco, monospace;
}


.home .about ul {
    margin-top: 7px;
    padding-left: 20px;
    line-height: 1.3em;
}


.home .about ul li {
    margin-bottom: 4px;
}

.home .about ul li span {
    padding-left: 5px;
    display: inline-flex;
}

/*
.home .about ul li:before {
    padding-right: 15px;
    content: '•';
}*/


.home a {
    text-decoration: none;
    color: #47c3fd;
}

.home p a, .home li a {
    border-bottom: 2px solid transparent;
}

.home p a:hover, .home li a:hover {
    border-bottom: 2px solid #47c3fd;
}

.home .Miscellaneous .preview-content .right img {
    max-width: inherit;
}