.home .intro {
    margin: 50px auto 20px  auto;
    width: 90%;
}

.home .vapor {
    position: absolute;
    top: 10px;
    left: 10px;
}

.home .name {
    margin-bottom: 0;
}

.home .byline {
    font-weight: normal;
    margin-top: 15px;
    font-family: Consolas, Monaco, monospace;
    cursor: pointer;
    user-select: none;
    transition: opacity .3s ease-in-out;
}


.home .about {
    font-family: Consolas, Monaco, monospace;
}

.home .about ul {
    margin-top: 5px;
    padding-left: 30px;
}

.home .social {
    display: flex;
    align-items: center;
    width: 270px;
    justify-content: space-between;
}
.home .social a {
    text-decoration: none;
}

.home .social svg {
    width: 24px;
    height: 24px;
    fill: #1F1E1E;
}

.home .social path, .home .social rect {
    transition: fill .4s ease;
}

#resume svg:hover {
    fill: #8C7AE5;
}

#dribbble svg:hover {
    fill: #ea4c89
}

#github svg:hover {
    fill: #6cc644;
}

#twitter svg:hover {
    fill: rgb(29, 161, 242);
}

#mail svg:hover {
    fill: #43918E;
}

#linkedin svg:hover {
    fill: #0077B5;
}

#instagram svg:hover {
    fill: #e95950;
}

#untappd svg:hover {
    fill: #ffcc09;
}

#mal svg:hover {
    fill: #2D50A1;
}

.home .Untappd {
    background: #F57F17;
}

.home .Hive {
    background: #78909C;
}

.home .Hive .right {
    padding-top: 60px;
}

.home .Hive .right img {
    max-width: 300px;
}

.home .Sous {
    background: #03A9F4;
}

.home .Chef .right img {
    max-width: 300px;
}

.home .AR {
    background: #d0a70f;
}

.home .Medi {
    background: #DB4D32;
}

.home .Graffiti {
    background: #1DC7AA;
}

.home .Rendezvous {
    background: #5C6BC0;
}

.home .Miscellaneous {
    background: #4CAF50;
}

.home footer {
    height: auto;
    padding: 20px 0;
    width: 90%;
    margin: auto;
    font-family: Consolas, Monaco, monospace;
}

.home footer a:hover {
    cursor: pointer;
}

.home footer span {
    display: block;
}

.home a {
    text-decoration: none;
    color: #47c3fd;
}
.home p a:hover, .website-link:hover {
    border-bottom: 2px solid #47c3fd;
}

.home .button a {
}