.Medi {
    background: #DB4D32;
}

.Medi .header {
    background: url(../../../media/medi/medi-hero.png) center top;
    background-size: cover;
}


.Medi .device {
    width: 100%;
    height: 520px;
}

.Medi .figure:hover {
    position: relative;

}

.Medi .figure:hover:after {
    display: block;
    position: absolute;
    transform: scale(0.15);
    max-width: 200px;
    max-height: 10px;
    top: 20px; /* change this value to one that suits you */
    z-index: 9999;
}

.Medi .figure-1:hover:after {
    content: url(../../../media/medi/figures/figure_1.jpg);
}

.Medi .figure-2:hover:after {
    content: url(../../../media/medi/figures/figure_2.jpg);
}

.Medi .figure-3:hover:after {
    content: url(../../../media/medi/figures/figure_3.jpg);
}

.Medi .figure-4:hover:after {
    content: url(../../../media/medi/figures/figure_4.jpg);
}
