.Medi .header {
    color: #DB4D32;
}

.Medi .header .button a {
    background-image: linear-gradient(to bottom, transparent 50%, #DB4D32 50%);
}

.Medi .hero {
    background-image: url(../../../media/medi/hero.jpg)
}




.Medi .landscape {
    max-height: none;
}

.Medi .device {
    width: 80%;
    height: 520px;
}

.Medi .figure:hover {
    position: relative;

}

.Medi .figure:hover:after {
    display: block;
    position: absolute;
    transform: scale(0.15);
    max-width: 200px;
    max-height: 10px;
    top: 20px; /* change this value to one that suits you */
    z-index: 9999;
}

.Medi .figure-1:hover:after {
    content: url(../../../media/medi/figures/figure_1.jpg);
}

.Medi .figure-2:hover:after {
    content: url(../../../media/medi/figures/figure_2.jpg);
}

.Medi .figure-3:hover:after {
    content: url(../../../media/medi/figures/figure_3.jpg);
}

.Medi .figure-4:hover:after {
    content: url(../../../media/medi/figures/figure_4.jpg);
}

.Medi .project-section a {
    color: #DB4D32;
}

.Medi .project-section a:hover{
    border-bottom: 2px solid #DB4D32;
}

.Medi .project-section .button a {
    background-image: linear-gradient(to bottom, transparent 50%, #DB4D32 50%);
}


.Medi .fab-main span i {
    color: #db4d32;
}