.Graffiti .header {
    color: #1DC7AA;
}


.Graffiti .header .button a {
    background-image: linear-gradient(to bottom, transparent 50%, #1DC7AA 50%);
}

.Graffiti .project-section a {
    color: #1DC7AA;
}

.Graffiti .project-section a:hover {
    border-bottom: 2px solid #1dc7aa;
}

.Graffiti .project-section .button a {
    background-image: linear-gradient(to bottom, transparent 50%, #1DC7AA 50%);
}

.Graffiti .hero {
    background-image: url(../../../media/graffiti/graffiti-leadin.jpg);
}

.graffiti-logos {
    max-height: 500px;
    width: auto !important;
}

.Graffiti .fab-main span i {
    color: #1dc7aa;
}