.project-page {
    background-color: #f5f4f4;
    color: #1f1e1e;
    min-height: 100%;
}

.project-page .hero {
    width: 100%;
    height: 300px;
    background-position: center center;
    background-size: cover;
}

.project-page img {
    max-width: 100%;
    max-height: 500px;
    display: block;
    margin: auto;
}

.project-page .no-height-limit {
    max-height: none;
}



.project-page .button a, .project-page .project-section .button a{
    width: initial;
    color: #1F1E1E;
    border: 3px solid #1f1e1e;
}

.project-page .button a:hover, .project-page .project-section .button a:hover{
    border-bottom: 3px solid #1f1e1e;
    color: #f5f4f4;
}

.project-page .caption {
    text-align: center;
    font-size: 0.8em;
}

.project-page iframe {
    margin: 20px auto 20px auto;
    display: block;
}

/* invision only lets you change iframe size using transform, so need to compensate */
.project-page .invision-embed {
    transform: scale(0.75);
    margin-top: -130px;
    margin-bottom: -100px;
}

@media screen and (max-width: 630px) {
    .project-page .invision-embed {
        transform: scale(0.5);
        margin-top: -230px;
        margin-left: -20%;
        margin-bottom: -210px;
    }
}


.project-page .framer-embed {
    width: 100%;
    height: 600px;
}

.project-page .disclaimer {
    margin: 0;
    font-size: .75em;
    text-align: center;
}

.header {
    height: 170px;
    padding: 30px 0 0 0;
}

.project-page .header h1 {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
}

.project-page .header .links {
    display: flex;
    justify-content: center;
}

.project-page .header .links .button:not(:last-child) {
    margin-right: 15px;
}

.project-page .content {

    padding-bottom: 50px;
}


.project-page .statistics {
    display: flex;
    justify-content: space-around;
    max-width: initial;
    width: 80%;
    margin: auto;
    color: #1f1e1e;
}

.project-page .statistics h2, .project-page .statistics h3 {
    width: 100px;
    height: 100px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: 0;
    color: #f5f4f4;
    font-family: Lora, serif;
}

.project-page .statistics p {
   width: inherit;
}


.project-page .statistic {
    display: inline-block;
    text-align: center;
}

.project-page .process {
    width: 100%;
}

.project-page .collapse {
    text-align: center;
}

