.project-page {
    color: #f5f4f4;
    min-height: 100%;
}

.project-page img {
    max-width: 100%;
    max-height: 500px;
    display: block;
    margin: auto;
}

.project-page .no-height-limit {
    max-height: none;
}

.project-page .content a {
    color: #1F1E1E;
    text-decoration: none;
}
.project-page .content a:hover {
    border-bottom: 2px solid #1F1E1E;
}

.project-page ul.list {
    padding-left: 25px;
}

.project-page ol.list {
    padding-left: 23px;
}

.project-page .button a {
    color: #f5f4f4;
}

.project-page .content .button a:hover{
    border-bottom: 3px solid #f5f4f4;
}


.project-page .caption {
    text-align: center;
    font-size: 0.8em;
}

.project-page .slick-slider .slick-list, .slick-slider .slick-track{
    text-align: center;
}

.project-page .slick-slide img {
    max-width: 100%;
    max-height: 600px;
    display: inline;
}

.project-page .slick-dots {
    bottom: -10px;
}


.project-page .slick-prev {
    left: -10px;
    z-index: 1;
}

.project-page .slick-next {
    right: -10px;
    z-index: 1;
}

.project-page  .slick-dots li button:before {
    color: #f5f4f4;
    opacity: 0.65;
}
.project-page .slick-dots li.slick-active button:before {
    color: #F4F5F5;
    opacity: 1;
}

.project-page iframe {
    margin: 20px auto 20px auto;
    display: block;
}

/* invision only lets you change iframe size using transform, so need to compensate */
.project-page .invision-embed {
    transform: scale(0.75);
    margin-top: -130px;
    margin-bottom: -100px;
}

@media screen and (max-width: 630px) {
    .project-page .invision-embed {
        transform: scale(0.5);
        margin-top: -230px;
        margin-left: -20%;
        margin-bottom: -210px;
    }
}


.project-page .framer-embed {
    width: 100%;
    height: 600px;
}

.project-page .disclaimer {
    margin: 0;
    font-size: .75em;
    text-align: center;
}

.header {
    height: 300px;
    background: no-repeat center center;
    background-size: cover;
}

.project-page .header h1 {
    margin-top: 0;
    margin-bottom: 20px;
    padding-top: 150px;
    text-align: center;
}

.project-page .header .links {
    display: flex;
    justify-content: center;
}

.project-page .header .links .button:not(:last-child) {
    margin-right: 15px;
}

.project-page .content {
    width: 80%;
    margin: auto;
    padding-bottom: 50px;
}

.project-page .content h3 {
    margin-bottom: 0;
    font-family: Lora, serif;
}


.project-page .statistics {
    display: flex;
    justify-content: space-around;
}

.project-page .statistics h2, .project-page .statistics h3 {
    width: 100px;
    height: 100px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: 0;
}


.project-page .statistic {
    display: inline-block;
    text-align: center;
}

.project-page .process {
    width: 100%;
}

.project-page .collapse {
    text-align: center;
}

