
.project-section h4, .project-section p, .project-section ol, .project-section ul {
    width: 80%;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
}

/*
.project-section .list  {
    margin-top: 7px;
    padding-left: 10px;
    list-style: none;
}

.project-section .list li {
    margin-bottom: 7px;
    margin-left: 0;
}

.project-section ul.list li:before {
    padding-right: 15px;
    content: '•';
}

.project-section ol.list li:before {
    counter-increment: post;
    content: counter(post) ".";
}*/

.project-section .list {
    margin-top: 7px;
    line-height: 1.3em;
}

.project-section .list li {
    margin-bottom: 7px;
}

.project-section .list li span {
    padding-left: 5px;
    display: inline-flex;
}

.project-section .before-list {
    margin-bottom: 0;
}

.project-section .extend {
    max-width: 80%;
    max-height: none;
}

.project-section .process {
    width: 80%;
}

.project-section a {
    color: #1F1E1E;
    text-decoration: none;
}

.project-section a:hover {
    border-bottom: 2px solid #1F1E1E;
}


.project-section .subheader {
    font-size: 1.2em;
    line-height: 1.2em;
    font-weight: bold;
}


/* slick css rules */
.project-section .slick-slider {
    width: 80%;
    margin: 20px auto;
}

.project-section .slick-slider .slick-list, .slick-slider .slick-track{
    text-align: center;
}

.project-section .slick-slide img {
    max-width: 100%;
    max-height: 600px;
    display: inline;
}

.project-section .slick-dots {
    bottom: -10px;
    width: 100%;
    max-width: 100%;
}

.project-section .slick-next:before, .slick-prev:before {
    color: #1f1e1e;
}

.project-section .slick-prev {
    left: -10px;
    z-index: 1;
}

.project-section .slick-next {
    right: -10px;
    z-index: 1;
}

.project-section .slick-dots li button:before {
    color: #1F1E1E;
    opacity: 0.65;
}
.project-section .slick-dots li.slick-active button:before {
    color: #1f1e1e;
    opacity: 1;
}