.fab-main {
    position: fixed;
    right: 20px;
    bottom: 20px;
    border-radius: 50%;
    background: #f5f4f4;
    color: #1F1E1E;
    width: 56px;
    height: 56px;
    box-shadow: 0 4px 8px rgba(0,0,0,.25);
    cursor: pointer;
    justify-content: center;
    display: flex;
    align-items: center;
}

.fab-main span {
    margin-top: 4px;
}

.fab-main span i {
    font-size: 28px;
}