@font-face {
  font-family: 'Consolas';
  src: url('fonts/consolas/Consolas.eot');
  src: url('fonts/consolas/Consolas.woff2') format('woff2'),
  url('fonts/consolas/Consolas.woff') format('woff'),
  url('fonts/consolas/Consolas.ttf') format('truetype');
}

@font-face {
  font-family: 'Consolas';
  src: url('fonts/consolas/ConsolasBold.eot');
  src: url('fonts/consolas/ConsolasBold.woff2') format('woff2'),
  url('fonts/consolas/ConsolasBold.woff') format('woff'),
  url('fonts/consolas/ConsolasBold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'DINPro-Regular';
  src: url('fonts/din-pro/DINPro-Regular.eot');
  src: url('fonts/din-pro/DINPro-Regular.woff2') format('woff2'),
  url('fonts/din-pro/DINPro-Regular.woff') format('woff'),
  url('fonts/din-pro/DINPro-Regular.ttf') format('truetype');
}

/* Import Lora */
@import url('https://fonts.googleapis.com/css?family=Lora:700');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');

html, body, #root {
  height: 100%;
}


body {
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  font-family: "Source Sans Pro", sans-serif;
  background: #F5F4F4;
  color: #1F1E1E;
}

h1 {
  font-size: 3em;
  font-family: Lora, serif;
}

h2 {
  font-size: 2.5em;
  font-family: Lora, serif;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.75em;
  font-family: Lora, serif;
  margin: 20px 0;
}

p {
  line-height: 1.6em;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

