
.misc .content {
    width: 90%;
    margin: auto;
}

.misc .fab-menu span i {
    color: #4CAF50;
}

.misc .aspect-keeper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.aspect-keeper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.misc .framer {
    width: 100%;
    height: 600px;
}

.misc .project {
    margin-top: 30px;
}

.misc .next-up {
    text-align: center;
    margin: 30px auto 20px;
}

.misc .framer-embed {
    width: 100%;
    height: 500px;
}


@media (max-width: 767px) {

    .misc .next-up {
        display: none;
    }

    .misc .project {
        display: none;
    }

    .misc {
        padding-bottom: 50px;
    }

    .misc .home-btn {
        display: none;
    }
}
