.misc {
    background: #4CAF50;
    color: #f5f4f4;
    padding-bottom: 20px;
}

.misc .content {
    width: 90%;
    margin: auto;
}

.misc .aspect-keeper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.aspect-keeper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.misc .framer {
    width: 100%;
    height: 600px;
}