.Sous {
    background-color: #03A9F4;
}

.Sous .aspect-keeper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.Sous .header {
    background: url(../../../media/sous-chef/sous-chef-hero.png) center center;
    background-size: cover;
}
