.Sous .header {
    color: #03A9F4;
}

.Sous .header .button a {
    background-image: linear-gradient(to bottom, transparent 50%, #03A9F4 50%);
}

.Sous .project-section a {
    color: #03A9F4;
}

.Sous .project-section a:hover{
    border-bottom: 2px solid #03A9F4;
}

.Sous .project-section .button a {
    background-image: linear-gradient(to bottom, transparent 50%, #03A9F4 50%);
}

.Sous .fab-main span i {
    color: #03A9F4;
}

.Sous .aspect-keeper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    width: 80%;
    margin: auto;
}

.Sous .hero {
    background-image: url(../../../media/sous-chef/sous-chef-hero.jpg);
}
